@font-face {
    font-family: "JosefinSans";
    font-style: normal;
    font-weight: bold;
    src: url("font/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: "JosefinSans";
    font-style: normal;
    font-weight: normal;
    src: url("font/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    src: url("font/PTSans-Regular.ttf");
}

.katex {
    font-size: 14pt !important;
}

h2 .katex {
    font-size: 35pt !important;
    font-weight: bold;
}

* {
    margin: 0;
}

body {
    font-family: "PT Sans";
    font-size: 14pt;
    -webkit-hyphens: none;
    font-style: normal;
    text-align: justify
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

p.indent {
    text-indent: 34px !important;
}

p:not(.no-indent) {
    text-indent: 0px;
}

p.indent-big {
    text-indent: 68px !important;
}

a {
    text-decoration: underline;
    word-wrap: break-word;
}

ol, ul {
    font-size: 14pt;
    padding-left: 20px !important;
}

    ol li, ul li {
        margin: 0 !important;
    }

h1 {
    font-family: "JosefinSans" !important;
    font-size: 35pt;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

h2 {
    font-family: "JosefinSans" !important;
    font-size: 27pt;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-family: "JosefinSans" !important;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: #ffffff;
    background-color: #752284;
    padding: 5px;
    display: inline-block;
}

h4 {
    font-family: Itim;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

hr {
    border: 1px solid RGB(106,51,63);
}

.clear {
    clear: both;
}

.space {
    margin-top: 1em;
}

.space_large {
    margin-top: 2em;
}

.space_small {
    margin-top: 0.4em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.color-marsala {
    color: #6a333f !important;
}

*[class*="col-"] {
    padding-left: 0px;
}

.info .circle-text {
    background-color: #faa635;
    padding: 2px 6px;
    border: 1px solid #000000;
    border-radius: 50%;
    font-weight: bold;
}


.color-purple {
    color: RGB(117,34,132) !important;
}

.bkgr-purple {
    background-color: #752284;
    !important;
    padding: 7px 7px 7px 7px;
}

.box-purple {
    border: 2px solid RGB(117,34,132) !important;
    padding: 7px;
    margin: 10px 0;
}

.fizica .portofoliu, .info .portofoliu, .mate .portofoliu {
    color: white;
    text-shadow: -1px -1px 0 #da2043, 1px -1px 0 #da2043, -1px 1px 0 #da2043, 1px 1px 0 #da2043;
}

.know {
    color: #da2043 !important;
}

.info .know {
    color: #752284 !important;
}

.border-black {
    border: 1px solid black;
}

.border-marsala {
    border: 2px solid #ca4c4a;
    padding: 7px;
    margin-top: -10px;
}

.bkgr-pink {
    background-color: #f8e9e4;
    padding: 20px 7px 0;
    border-radius: 10px;
}

.bkgr-white {
    background-color: #ffffff;
}

.border-orange {
    border: 2px solid #ffc80b;
    padding: 7px;
    margin-top: 10px;
    background-color: #ffffff;
}


.bkgr-portofoliu {
    background-color: #ec008c;
    padding: 7px;
}



.nr-portofoliu {
    background-color: #ec008c;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 0px;
    color: #ffffff;
    padding: 0 10px;
}



.info .bkgr-know {
    border-top-color: #752284 !important;
    border-top-width: 2px;
    border-top-left-radius: 30px;
    border-bottom-color: #752284 !important;
    border-bottom-width: 2px;
    border-bottom-right-radius: 30px;
    border-top-style: solid;
    border-bottom-style: solid;
    position: relative;
    padding: 15px;
    display: inline-block;
}

.fizica .bkgr-experiment, .info .bkgr-experiment {
    border-top-color: RGB(117,34,132);
    border-top-width: 2px;
    border-top-left-radius: 30px;
    border-bottom-color: RGB(117,34,132);
    border-bottom-width: 2px;
    border-bottom-right-radius: 30px;
    border-top-style: solid;
    border-bottom-style: solid;
    position: relative;
    padding: 15px;
    display: inline-block;
}

.mask-left {
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 50%;
    height: 4px;
    background-color: #fff;
}

.mask-right {
    position: absolute;
    top: -2px;
    right: 0px;
    width: 50%;
    height: 3px;
    background-color: #fff;
}

.color-blue {
    color: #2e3192;
}

.number-unitate {
    box-shadow: 0px -10px white;
    border-radius: 7px 30px 30px;
    padding: 10px;
    display: block;
    color: white;
    font-size: 35pt;
    font-style: bold;
    font-weight: bold;
    margin-top: -20px;
}

.left-number {
    border-radius: 0 0 45px !important;
    padding: 10px 20px 0 10px !important;
}


.bkgr-titlu-unitate {
    display: inline-table;
    width: calc(100% - 100px);
}

.block-inline {
    display: inline-table;
    margin-left: -5px;
    width: 50px;
    position: relative;
    top: -3px;
}

.block-container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    float: left;
    clear: both;
    width: 100%;
}

.block-number-content {
    padding-left: 10px;
    float: left;
    min-height: 37px;
    width: 100%;
}

    .block-number-content p {
        text-indent: 0px;
    }

        .block-number-content p:last-child {
            margin-bottom: 0px;
        }



.number {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 0px;
    color: #ffffff;
    padding: 0 10px;
}
h1 {
    color: #ffffff;
}

    h1 span {
        background-color: #de7770;
        padding: 10px 30px 5px;
    }

h2, .color-red {
    color: #742a84 !important;
}

h2 {
    font-family: Arial !important;
}

h5 {
    font-family: "PT Sans";
    font-size: 14.5pt;
    text-align: center;
    text-indent: 68px;
    margin-left: 50px;
}

.color-marsala {
    color: #962E50 !important;
}

.color-violet {
    color: #8d64aa !important;
}

hr.endn {
    border: 1px solid #000000;
    width: 100px;
}

.endnoteref {
    color: #00b8de;
    font-weight: bold;
    margin-right: 3px;
}
.text-u1 {
    color: #da8180 !important;
}

.footer {
    padding-right: 10px;
    padding-left: 10px;
    font-family: "JosefinSans";
}

.bkgr-read {
    background-color: #fff9de;
    padding: 0px;
    /*margin:10px;*/
}

.bkgr-pers {
    background-color: #ECF7F8;
    padding: 10px;
    /*margin:10px;*/
}

    .bkgr-pers p:not(.no-indent) {
        text-indent: 34px;
    }

*[class*="col-"] {
    padding-left: 0px;
}

.portofoliu {
    background-color: #ec008c !important;
}

.important {
    color: #ffffff !important;
    background-color: #71bf44;
    margin-bottom: 0 !important;
}

.bkgr-imp {
    border-top: 1px solid #71bf44;
    background-color: #eaf5ed;
    padding: 7px;
}

.bkgr-rec {
    background-color: #fad2e1;
    padding: 7px;
    border-radius: 15px 0px 15px 0px;
}

.color-pink {
    color: #ed145b !important;
}

.color-purple {
    color: RGB(117,34,132) !important;
}

.color-green {
    color: #8dc63f !important;
}

.bkgr-purple {
    background-color: RGB(233,225,238) !important;
    padding: 7px 7px 7px 0;
}

.box-purple {
    border: 2px solid RGB(117,34,132) !important;
    padding: 7px;
    margin: 10px 0;
}

.bkgr-blue {
    background-color: #d4e3f5 !important;
    padding: 10px;
}

.know {
    color: #da2043 !important;
}
.info ol, .fizica ol, .mate ol {
    padding-left: 0px !important;
}

.fizica .padd20 {
    padding-left: 20px !important;
}

.number {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 0px;
    background-color: #007dc6;
    color: #ffffff;
    padding: 0 10px;
}

ol.number-list {
    counter-reset: number;
    margin: 0px;
}

    ol.number-list > li {
        list-style: none;
    }

        ol.number-list > li:before {
            content: counter(number) ") ";
            counter-increment: number;
        }

    ol.number-list.point-list > li:before {
        content: counter(number) ". " !important;
    }

ul.bullet-list > li {
    list-style: none;
}

ul.bullet-list li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.bullet-list.floated > li {
    margin-right: 20px !important;
    padding-bottom: 10px;
    display: inline-block;
}


ol.roman-list {
    counter-reset: list;
    margin: 0px;
}

    ol.roman-list > li {
        list-style: none;
    }

        ol.roman-list > li:before {
            content: counter(list, lower-roman) ") ";
            counter-increment: list;
        }

ol.upper-roman {
    counter-reset: list;
    margin: 0px;
}

    ol.upper-roman > li {
        list-style: none;
    }

        ol.upper-roman > li:before {
            content: counter(list, upper-roman) ". ";
            counter-increment: list;
        }

.lower_alpha {
    counter-reset: list;
    margin: 0px;
}

    .lower_alpha > li {
        list-style: none;
    }

        .lower_alpha > li:before {
            content: counter(list, lower-alpha) ") ";
            counter-increment: list;
        }

    .lower_alpha.floated > li {
        margin-right: 20px !important;
        padding-bottom: 10px;
        display: inline-block;
    }

.upper_alpha {
    counter-reset: list;
    margin: 0px;
}

    .upper_alpha > li {
        list-style: none;
    }

        .upper_alpha > li:before {
            content: counter(list, upper-alpha) ". ";
            counter-increment: list;
        }


    .upper_alpha.floated > li {
        margin-right: 20px !important;
        padding-bottom: 10px;
        display: inline-block;
    }

.ulnotbullet {
    list-style: none;
    padding: 0 !important;
}

.ulv, .ularrow, .ulsquare, .ulbv {
    list-style: none;
    padding: 0 !important;
}

    .ulv > li:before {
        padding-right: 5px;
        content: "\2713";
    }

    .ulv.floated > li {
        margin-right: 20px !important;
        padding-bottom: 10px;
        display: inline-block;
    }

    /* .ularrow > li {
        padding-left: 25px;
        background: url("images/img033.png") -6px 5px no-repeat !important;
    }

    .ulsquare > li {
        padding-left: 18px;
        background: url("images/squareB.png") -3px 4px no-repeat !important;
    } */

    .ulsquare.floated > li, .ulbv.floated > li {
        margin-right: 20px !important;
        padding-bottom: 10px;
        display: inline-block;
    }

/* .bkgr-imp .ulsquare > li {
    background: url("images/squaregreen.png") 2px 8px no-repeat !important;
} */

.page {
    display: none;
}

.inline-content {
    display: inline;
}


.rwd-table {
    border: 1px solid #f26424;
    border-collapse: collapse;
    width: 100%;
}

    .rwd-table tr th, .rwd-table tr td {
        border: 1px solid #f26424;
        padding: 10px;
    }

    .rwd-table tr th {
        background-color: #fdccae;
    }


.mate table.evaluare tr td:first-child {
    border-right: 2px solid RGB(117,34,132) !important;
    font-weight: bold;
}


.mate table.evaluare tr td:nth-child(2) {
    color: #2e3192;
    font-weight: bold;
}

table.evaluare tr:first-child th:last-child {
    text-align: left;
}

table.evaluare tr td, table.evaluare tr th {
    vertical-align: top;
    padding: 10px;
}

    table.evaluare tr td p:not(.indent-big) {
        text-indent: 0 !important;
    }



.fizica table.evaluare tr td:first-child,
.fizica table.evaluare tr th:first-child {
    font-style: italic;
    font-weight: normal;
    color: grey;
}

.inline-img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.relative {
    position: relative;
    display: inline-block;
    padding-right: 19px;
}

.katex-display {
    display: inline-block !important;
    text-indent: 0px !important;
    margin: 0 !important;
}

    .katex-display > .katex {
        white-space: normal !important;
    }

/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {*/
/*img.img-responsive{*/
/*width: 100%;*/
/*height: auto;*/
/*}*/
/*}*/

/*
@supports (-ms-ime-align:auto) {
    .img-responsive{
        width: inherit;
        max-width: 100%;
        height: auto;
    }
}*/

.text-cuprins {
    background-color: #ffffff !important;
}

.text-cuprins p {
    text-align: left;
    margin: 0px;
    overflow: hidden;
    padding-left: 15px;
}

.text-cuprins p:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
}

.text-cuprins p span.text-cuprins:first-child {
    padding-right: 5px;
}

.text-cuprins p span.text-cuprins:nth-child(2) {
    float: right;
    padding: 2px 5px 2px 8px;
    font-weight: bold;
    position: relative;
}

.special .text-unitate {
    font-family: "JosefinSans" !important;
    padding: 46px 2px 30px !important;
    display: block !important;
    color: white !important;
    font-size: 16pt !important;
    width: 100px !important;
}

.special .text-unitate {
    font-family: "JosefinSans" !important;
    padding: 46px 2px 30px !important;
    display: block !important;
    color: white !important;
    font-size: 16pt !important;
    width: 100px !important;
}

.special .number-unitate {
    box-shadow: 0px -10px white !important;
    border-radius: 7px 30px 30px !important;
    padding: 10px !important;
    display: block !important;
    color: white !important;
    font-size: 35pt !important;
    font-style: bold !important;
    border: none !important;
    font-weight: bold !important;
    margin-top: -20px !important;
}

.w100 {
    width: 100% !important;
}

.wauto {
    width: auto;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.lower_alpha.mrg3 > li {
    margin-bottom: 3px !important;
    padding-bottom: 3px !important;
}

ul.smallmrg, ol.smallmrg, ol.smallmrg > li, ul.smallmrg > li {
    margin-bottom: 3px !important;
}

.color-darkgray {
    color: #111111;
}

.padd50 {
    padding-left: 52px !important;
}

.color-green {
    color: #005e6e;
}

.half {
    border-top-style: none !important;
}

.titlu-unitate {
    color: white;
    font-size: 35pt;
    font-weight: bold;
    background-color: #b72842 !important;
    margin: 0 !important;
    padding: 30pt 0;
}

.numar-unitate {
    font-size: 70pt;
    padding: 0 !important;
}

.text-unitate {
    margin-top: -30pt;
    font-family: "JosefinSans" !important;
    line-height: normal;
    display: block;
    color: white;
    font-size: 16pt;
    background-color: #dd7770 !important;
    float: left;
    padding: 7pt !important;
}
.cuprins .numar-unitate {
    font-size: 42pt;
}
.cuprins .titlu-unitate {
    font-size: 35pt;
    padding: 30pt 0;
}
.cuprins .text-unitate {
    margin-top: -5pt;
    margin-right: 5pt;
    font-size: 14pt;
    padding: 2pt !important;
}
.titlu-unitate-cuprins {
    color: white;
    font-size: 20pt;
    font-weight: normal !important;
    background-color: #b72842 !important;
    padding: 5pt 5pt;
    text-align: left;
    margin:0!important;
}
.bkgr-competente {
    background-color: #fff684;
    text-align: left;
    padding: 5px;
    margin-left: -5pt;
}
.cuprins .relative {
    padding:0!important;
}
.pag-content {
    font-size: 20pt;
    font-weight: bold;
    background-color: #007dc6;
    color: #ffffff;
    padding: 5pt;
    text-align: center;
    float: right;
    margin-top: -5pt;
    margin-right: -5pt;
}

.color-turcoaz {
    color: #007dc6;
}

.experiment {
    font-family: "JosefinSans" !important;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 5px !important;
    color: RGB(236,0,140);
}

.indent {
    text-indent: 24pt;
}

.bkgr-yellow {
    background-color: #fef5e7;
    padding: 7px 0;
}
.observ {
    background-color: #ed145b !important;
}.bkgrred {
    color: white;
    font-size: 35pt;
    font-weight: bold;
    background-color: #b72842 !important;
    text-align:center;
	padding: 7px;
}
.evaluare {
    color: white;
    font-size: 35pt;
    font-weight: bold;
    background-color: #00b9f1 !important;
    text-align:center;
	padding: 7px;    
}